$background: rgba(8, 15, 23);

$text: rgba(232, 237, 239);

$size_fonts_big: 17pt;

$border_white_opas-medium: rgba(232, 237, 239, .5);
$border_white_opas-min: rgba(232, 237, 239, .1);
$border_white: rgba(232, 237, 239);

$color_burger: rgba(45, 253, 185);
$color_header: rgba(25, 32, 40);
$color_Active: rgba(36, 1, 17, .5);
$botton_Pink: rgba(235, 42, 96);
$color_Hover: rgba(207, 18, 73);
$color_Click: rgba(186, 38, 59);
$color_border_discount: rgba(171, 206, 60);
