@import "color.scss";
@import "mixins.scss";
@import "burger_menu.scss";
@import "media/header_footer.scss";

$padding-footer: 100px;

.header {
    background: $color_header;
    }
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    //    position: fixed;


    .header_content {
        width: 100%;
        border-bottom: 1px solid $botton_Pink;
    }

    .header_menu {
        @include flexJstfCont ();
    }

    .header_link_elem {
        padding: 20px 40px;

        &:hover {
            background: $botton_Pink;
        }
    }

    #current-time{
            padding: 0;
            color: $border_white_opas-medium;
            font-size: $fz_smol;
        }
}

footer {
    width: 100%;
    border-top: 1px solid $border_white;
    position: relative;
    z-index: 10;

    .footer_content {
        @include flexJstfCont ();
        padding: 0 20px;
    }

    .footer_info {
        @include flexColCentr ();
        height: 300px;

        &:first-child {
            border-right: 1px solid $border_white;
            padding-right: $padding-footer;
        }

        &:last-child {
            border-left: 1px solid $border_white;
            padding-left: $padding-footer;
        }

        &_list {
            margin: 10px 0;
            padding-left: 40px;

            &_link {
                opacity: .5;

                &_elem {
                    list-style: disc;
                }
            }
        }
    }
}
