@import "color.scss";

.mainPrev{
    width: 100%;
    height: 100%;
    padding-top: 65px;
    background-image: url(../assets/img/sam-worthington-zoe-saldana-avatar-2009-20th-century-fox-file-reference-33458-004tha-for-editorial-use-only-all-rights-reserved-PMBYB3.png);
    background-repeat: no-repeat; /* Не повторяем */
  background-size: cover; /* Размер фона */
  background-position: center; /* Позиция картинкипо центру */
}
