@import "color.scss";
@import "mixins.scss";
@import "media/index-media.scss";

$size-mainPver: 800px;

.mainPrev {
    position: relative;
    overflow: hidden;
    padding-left: 30px;
    background: linear-gradient(transparent, $background 80%);

    &_background {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }

    &_content {
        @include flexRowEnd;
        min-height: $size-mainPver;

        &_info {
            @include flexColSpace;
            align-items: flex-start;

            &_button:first-child {
                margin: 10px 10px 10px -9px;
            }

            &_text {
                margin: 30px 0;
            }
        }
    }
}

.System {
        @include flexRow;
        margin-top: 30px;

        &_element {
            @include flexRow;
            align-items: center;
            justify-content: center;
            width: 110px;
            margin: 0 20px;
            opacity: .5;
            padding: 10px 20px;

            &:first-child {
                background: $border_white;
            }

            &:hover {
                opacity: 1;
            }

            &_icon {
                width: 25px;
                height: 25px;
            }

            &_name {

                font-size: $fz_smol;
            }
        }
    }

.mainPrev_content_info_system_element img {
    position: relative;
    width: 50px;
    height: 50px;
}
