@import "color.scss";
@import "mixins.scss";
@import "media/index-media.scss";

$size-mainPver: 800px;

.mainPrev{
    position: relative;
    overflow: hidden;
    padding-left: 30px;
    background: linear-gradient(transparent, $background 80%);

    &_background{
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }

    &_content{
        @include flexRowEnd;
        min-height: $size-mainPver;

        &_info{
            @include flexColSpace;
            align-items: flex-start;

            &_button:first-child{
                margin: 10px 10px 10px -9px;
            }

            &_text{
                margin: 30px 0;
            }

            &_system{
                @include flexRow;
                margin-top: 30px;

                &_element{
                    @include flexRow;
                    align-items: center;
                }
            }
        }
    }
}

.mainPrev_content_info_system_element img{
    position: relative;
    width: 50px;
    height: 50px;
}
