@mixin positionStart{
    position: relative;
    top: $StartPosition;
    height: 100%;

}

@mixin flexJstfCont () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowEnd () {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@mixin flexRow () {
    display: flex;
    flex-direction: row;
}
@mixin flexCol () {
    display: flex;
    flex-direction: column;
}

@mixin flexColSpace () {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin flexColCentr () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexCenter () {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@mixin flexColEnd () {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


