@mixin flexJstfCont () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flexColCentr () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexCenter () {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



