@import "color.scss";
@import "mixins.scss";
@import "glob_styles.scss";

.Reviews{
    position: relative;
    top: 30px;
    margin: $margin_elem;
    &_content{
        @include flexCenter;
        width: 100%;

        &_form{
            background: $border_white;
            margin: $margin_elem;
            padding: 40px;
            border-radius: 20px;
            min-width:  320px;

        }
        &_inner{
            border-bottom: 1px solid $border_white;
            border-top: 1px solid $border_white;
            color: $border_white;
            margin: $margin_elem_smoll;
            padding: 20px 0;
            width: 100%;

            &_element{
                @include flexRow;
                align-items: center;
                min-width: 320px;
                max-width: 900px;
                margin: $margin_elem;

                &-avatar{
                    background: $border_white_opas-min;
                    border-radius: 100%;
                    margin-right: 40px;
                    min-width: 67px;

                    & img{
                        width: 100%;
                    }
                }

                &-text{
                    max-width: 800px;
                }

        }
    }
}
    &-data{
        color:$border_white_opas-medium;
        font-size:$fz_smol;
    }
}

