@import "../../color.scss";
@import "../../mixins.scss";
@import "../../glob_styles.scss";

.Authorization{
    background: $border_white;
    margin: $margin_elem;
    padding: 40px;
    border-radius: 20px;
}

.error{
     background: $botton_Pink;
    padding: 40px;
}
