@import "../../color.scss";
@import "../../mixins.scss";
@import "../../glob_styles.scss";

.Reviews{
    margin: $margin_elem;
    &_content{
        @include flexCenter;
        &_form{
            background: $border_white;
            margin: $margin_elem;
            padding: 40px;
            border-radius: 20px;
            width: 400px;

        }
        &_item{
            &_element{
                border-bottom: 1px solid $border_white;
                border-top: 1px solid $border_white;
                margin: $margin_elem_smoll;
                padding: 20px 0;
            }
        }
    }
}
