@import "../mixins.scss";
@import "../color.scss";

.button-pink{
    background: $botton_Pink;
    padding: 10px 20px;
    margin: 10px;

    &:hover{
        box-shadow: 5px 6px 0px 1px $color_burger;
    }

    &:active{
        background: $color_Hover;
    }
}
.button-border{
    border: 1px solid $border_white;
    padding: 10px 20px;
    margin: 10px;


    &:hover{
        box-shadow: 5px 6px 0px 1px $color_burger;
    }

    &:active{
       border: 0px solid $border_white;
        background: $border_white;
        color: $background;
    }
}
