@import "../mixins.scss";
@import "../color.scss";
@import "../glob_styles.scss";

.button-pink{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;

    background: $botton_Pink;
    text-align: center;

    &:hover{
       background: $border_white;
        color: $background;
    }

    &:active{
        background: $color_Hover;
    }
}
.button-border{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;

    border: 1px solid $border_white;
    text-align: center;


    &:hover{
        background: $border_white;
        color: $background;
    }

    &:active{
       border: 0px solid $border_white;
        background: $border_white;
        color: $background;
    }
}

.discount_border-big {
        @include flexRow;
        align-items: center;
        text-align: center;

        width: 100%;
        height: 100%;
        padding: 0 20PX;

        border: 2px solid $color_border_discount;

        font-weight: 500;
        font-size: $size_fonts_big;
    }

.discount_border{
        @include flexRow;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: $margin_elem_smoll;


    &_txt{
        display: inline-block;
        padding: 0 5PX;

        border: 2px solid $color_border_discount;

        font-weight: 500;
        font-size: $size_fonts_big;
    }
}
