@import "../../color.scss";
@import "../../mixins.scss";
@import "../../glob_styles.scss";

.trailers_wrapper {
    @include positionStart;
    .trailers_card{
        max-width: 557px;
        padding: 0 2px;
        margin: $margin_elem_smoll;
        height: 500px;
        &_head{
            margin: $margin_elem_smoll;
            &_video{

                &_container{

                }

            }

        }
    }
}
